#docTitleInput {
    width: 500px;
    border: 1px solid #cfcfcf;
    border-radius: 3px;
    font-size: 16px;
    height: 33px;
}
.mybtn {
    font-size: 17px;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    color: white;
}

#editor {
    width: 100%;
    height: 700px;
}
#editorShow {
    width: 100%;
    min-height: 700px;
    padding: 9px;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
}

.bgclor-green {
    background-color: green;
}
.bgclor-blue {
    background-color: #3280fc;
}